!!!
%html
  %head
    %title= "Logbot | ##{@channel}"
    %link{rel: "stylesheet", type: "text/css", href: "/assets/screen.css"}
    %link{rel: "stylesheet", type: "text/css", href: "http://fonts.googleapis.com/css?family=Ropa+Sans"}
    %link{rel: "stylesheet", type: "text/css", href: "http://fonts.googleapis.com/css?family=Droid+Sans+Mono"}
    %base{target: "_blank"}
  %body
    .wrapper
      .header
        %h1 Logbot

      .body
        .channel= "##{@channel}"
        - if @date
          .date= "#{@date} ~"
        %div
          %ul.logs.wordwrap
            - @msgs.each do |msg|
              - linked_msg = msg["msg"].gsub(/http[s]*:\/\/[^\s]+/, '<a href="\0">\0</a>')
              %li= "<span class=\"time\">#{Time.at(msg["time"].to_f).strftime("%T")}</span><span class=\"nick\">#{msg["nick"]}</span><span class=\"msg\">#{linked_msg}</span>"

      .footer
        Brought to you by <a href="http://www.facebook.com/5ad59707473276e74191bd7d4929b95b">@dannvix</a> | Logbot 2013


    %script{type: "text/javascript", src: "http://code.jquery.com/jquery-1.8.3.min.js"}
    %script{type: "text/javascript"}
      = "var channel = \"#{@channel}\";"
    %script{type: "text/javascript", src: "/assets/applications.js"}
